.btn:hover {
  cursor: pointer;
  background-color: rebeccapurple;
}

.btn {
  width: 25vw;
  height: 10vw;
  background-color: green;
  border-radius: 10px;
  /* 去除button的默认样式 */
  border: none;
  outline: none;
  padding: 0;
}