.ListDetail {
  margin: 0 .04rem;
  width: 28vw;
  height: 1.17rem;
  .img {
    width: 28vw;
    height: 28vw;
    position: relative;
    img {
      width: inherit;
      border-radius: .08rem;
    }
  }
  .text {
    h3 {
      margin-top: .08rem;
      font-weight: 300;
      font-size: .14rem;
    }
  }
}