$song_list_height: 32vw;

div {
  ul {
    margin-top: .22rem;
    list-style: none;
    li {
      margin: 0 .16rem .13rem .16rem;
      background-color: #fff;
      height: $song_list_height;
    }
  }
}